{% extends "base.html" %}


{% block content %}
<div class='d-flex justify-content-center'>
    <div class="container row bg-light">
        <div class="col-8">
            <h1 class="mt-5">Create a new post</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group mt-2">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mt-2">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control") }}
                {% for error in form.content.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group mt-2">
                {{ form.thumbnail.label(class="form-label") }}
                {{ form.thumbnail(class="form-control-file") }}
                {% for error in form.thumbnail.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group mt-2">
                {{ form.publish_post(class="btn btn-primary") }}
            </div>
        </form>
        {{ ckeditor.load(pkg_type="full-all") }}
        {{ ckeditor.config(name='content') }}
        </div>
        <div class="col-4">
            <h2>Sidebar Goes here</h2>
        </div>
        
    </div>
</div>

{% endblock content %}
    