{% extends "base.html" %}

{% block content %}
    <div class="home-div row d-flex justify-content-center">
        <div class="single-post-section col-8">
          
          {% for post in published_post %}
          <a href="{{url_for('posts_bp.post_details', post_id=post.id)}}">
            <div class="card mt-3">
                <img src="{{ url_for('static', filename='post_thumbnails/' + post.thumbnail) }}" alt="{{ post.title }}" width="100%" height="400">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <img src="{{ url_for('static', filename='profile_pics/' + post.user.profile_pic) }}" alt="{{ post.author_name }}" class="rounded-circle" width="50" height="50">
                        <div class="mx-2">
                            <h6 class="mb-0">{{ post.user.username }}</h6>
                            <small class="text-muted">{{ post.created_at.strftime('%B %d, %Y') }}</small>
                        </div>
                    </div>
                    <h5 class="card-header">{{ post.title | title }}</h5>
                    <p class="card-text">{{ post.content[:200] | title |safe }}</p>
                </div>
            </div>
          </a>
      {% endfor %}
      
        </div>
        <div class="sidebar-section col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Sidebar</h5>
                  <h6 class="card-subtitle mb-2 text-muted">recen published post</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
    
{% endblock content %}
    