{% extends "base.html" %}


{% block content %}
<div class='d-flex justify-content-center'>
    <div class="container row bg-light">
        <div class="col-8">
            <h1 class="mt-5">Request to Reset Your Password</h1>
        <form method="POST" >
            {{ form.hidden_tag() }}

            <div class="form-group mt-2">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group mt-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        </div>
        <div class="col-4">
            <h2>Sidebar Goes here</h2>
        </div>
        
    </div>
</div>

{% endblock content %}
    